testpdf.pdf
download_matrix.csv
download_matrix2.csv
russian_language_by_ethnic_group_1989.csv
russian_language_ethnic_table.pdf
russian_languages.py
population_pyramid_data_wrong.py
gender_distributions.pdf
Russian Federation-1989.csv
testrun.py
testrun_pdf_of_ages.py
__pycache__/ABM.cpython-312.pyc
__pycache__/crime_decision.cpython-312.pyc
__pycache__/crime_rewards.cpython-312.pyc
__pycache__/crimes.cpython-312.pyc
__pycache__/criminal_progression.cpython-312.pyc
__pycache__/Culture_language_mechanism.cpython-312.pyc
__pycache__/economics.cpython-312.pyc
__pycache__/enums.cpython-312.pyc
__pycache__/law_enforcement.cpython-312.pyc
__pycache__/racketeering.cpython-312.pyc
__pycache__/victim_selection.cpython-312.pyc
__pycache__/data_export.cpython-312.pyc
__pycache__/model.cpython-312.pyc
plots/age.pdf
plots/criminal_status.pdf
plots/gender.pdf
plots/muscle_mass.pdf
plots/top_nationalities.pdf
plots/wage.pdf
plots/wealth.pdf
plots/weight.pdf
initial_agents.csv
initial_distributions.png
__pycache__/visuals.cpython-312.pyc
plots/age_hist.pdf
plots/criminal_status_count.pdf
plots/gender_count.pdf
plots/muscle_mass_hist.pdf
plots/wage_hist.pdf
plots/wealth_hist.pdf
plots/weight_hist.pdf
final_agents.csv
plots/criminal_network.pdf
plots/criminal_only_network.pdf
crime_rates.pdf
crimestats.csv
Log-Normal_PDF_CDF_plotter.py
__pycache__/ABM.cpython-313.pyc
__pycache__/crime_decision.cpython-313.pyc
__pycache__/crime_rewards.cpython-313.pyc
__pycache__/crimes.cpython-313.pyc
__pycache__/criminal_progression.cpython-313.pyc
__pycache__/Culture_language_mechanism.cpython-313.pyc
__pycache__/data_export.cpython-313.pyc
__pycache__/economics.cpython-313.pyc
__pycache__/enums.cpython-313.pyc
__pycache__/law_enforcement.cpython-313.pyc
__pycache__/model.cpython-313.pyc
__pycache__/racketeering.cpython-313.pyc
__pycache__/victim_selection.cpython-313.pyc
__pycache__/visuals.cpython-313.pyc
